html.
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Contact page">
<meta name="author" content="Predator">

<title>Contact form</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/vendor/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap theme -->
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/predattor.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<!--Style sheet for home blocks -->
<link href="/css/home-style.css" rel="stylesheet">

<!--Character set for é-->
<meta charset="utf-8" />

</head>

<body role="document">

<nav class="navbar navbar-inverse navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="/home"><font size="5">ITTENTION</font></a>
</div>
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li> <a href="/home"><button type="button" class="btn btn-md btn-info"><span class="glyphicon glyphicon-home"></span> Home</button></a></li>
<li> <a href="/app"><button type="button" class="btn btn-md btn-info"><span class="glyphicon glyphicon-film"></span> My Ittention Application</button></a></li>
<li> <a href="/account"><button type="button" class="btn btn-md btn-info"><span class="glyphicon glyphicon-user"></span> My Account/Sign Out</button></a></li>
</ul>
</div>
</div>
</nav>

<p></p>
<div class="container">
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">Répondre au mail client </h3>
</div>
<div class="panel-body">
div(class="row")
  div(class="col-sm-1")
  div(class="col-sm-10")
    div(class="panel panel-info")
      div(class="panel-heading")
        h4(class="panel-title") Customer Mail:
      div(class="panel-body")
        each item in mail
          p(style="word-break: break-all;")=item.text 
  div(class=col-sm-1)
<div class="well">
<div class="row">

<form role="form" action="/answer" method="post" id="answerClient">


<div class="form-group">
<label for="message">Votre message :</label>
<textarea name="message" class="form-control" required placeholder="Votre message" rows="3"></textarea>
</div>

div(class='form-group')
  each item in mail
    input(type="hidden" value=item._id name='id')


<button type="submit" form="answerClient" value="Submit" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-send"></span> Envoyer !</button>
</form>

</div>

</div>
</div>
</div>
</div>
<div class="col-sm-1"></div>
</div>

<div class="row">
<div class="col-sm-1">
</div>
<div class="col-sm-9">
<ul class="nav nav-pills">
<li><a href="./">Mentions légales</a></li>
<li><a href="./">Confidentialité</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="col-sm-1">
<ul class="nav nav-pills">
<li><a data-toggle="pill" href="./">Copyright</a></li>
</ul>
</div>
<div class="col-sm-1">
</div>
</div>
</div>

</body>
