doctype
html
	head
		title MyPredattor
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		
	block content
	block scripts
