.html
<head>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/vendor/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap theme -->
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/predattor.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<!--Style sheet for home blocks -->
<link href="/css/home-style.css" rel="stylesheet">

<!--Character set for é-->
<meta charset="utf-8" />
</head>

<body role="document">
<p></p>

<div class ="container">
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div class="panel panel-success">
<div class="panel-heading">
<h3 class="panel-title">Succès de l'envoi !</h3>
</div>
<div class="panel-body">
<p>Un lien de remise à zero de votre mdp a bien été envoyé. L'équipe ITTENTION vous remercie.</p>
</div>
</div>
</div>
<div class="col-sm-1"></div>
</div>


<div class="row">
<div class="col-sm-1">
</div>
<div class="col-sm-9">
<ul class="nav nav-pills">
<li><a href="/">Login</a></li>

</ul>
</div>
<div class="col-sm-1">
<ul class="nav nav-pills">
</ul>
</div>
<div class="col-sm-1">
</div>
</div>
</div>

</body>
