html.
<head>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/vendor/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap theme -->
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/predattor.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<!--Style sheet for home blocks -->
<link href="/css/home-style.css" rel="stylesheet">

<!--Character set for é-->
<meta charset="utf-8" />
</head>

<body role="document">
<nav class="navbar navbar-inverse navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="/home"><font size="5">ITTENTION</font></a>
</div>
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li> <a href="/home"><button type="button" class="btn btn-md btn-info"><span class="glyphicon glyphicon-home"></span> Home</button></a></li>
<li> <a href="/app"><button type="button" class="btn btn-md btn-info"><span class="glyphicon glyphicon-film"></span> My Ittention Application</button></a></li>
<li> <a href="/account"><button type="button" class="btn btn-md btn-info"><span class="glyphicon glyphicon-user"></span> My Account/Sign Out</button></a></li>
</ul>
</div>
</div>
</nav>

<p></p>
<div class="container">
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">Bienvenue sur la page ressources ITTENTION !</h3>
</div>
<div class="panel-body">
<div class="well">
<div class="row">

</p><p>
<p>Ici nous allons poster des F.A.Q. et des ressources qui vont vous permettre de mieux comprendre le fonctionnement de ITTENTION et ce qu'il peut vous apporter.</p>
</p><p>
<p> Si vous avez des questions ou des commentaires par rapport aux ressources, contactez nous!</p>
<a href="/contact" class="btn btn-primary btn-md">
<span class="glyphicon glyphicon-envelope"></span> Envoyez des remarques !
</a>
<a href="/downloads/ITTENTION - in a nutshell.pdf" class="btn btn-primary btn-md">
<span class="glyphicon glyphicon-download"></span> PDF
</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-1"></div>
</div>

<div class="row">
<div class="col-sm-1">
</div>
<div class="col-sm-9">
<ul class="nav nav-pills">
<li><a href="./">Mentions légales</a></li>
<li><a href="./">Confidentialité</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
<div class="col-sm-1">
<ul class="nav nav-pills">
<li><a data-toggle="pill" href="./">Copyright</a></li>
</ul>
</div>
<div class="col-sm-1">
</div>
</div>
</div>

</body>