body {
  padding-top: 50px;
}
#jumbobg {
  background-image: url('../img/predattor.jpg');
  background-repeat:  no-repeat;
  background-position: center 35%;
  background-size: 100% 960px;
}
#jumbotitle {
  color: bisque;
  text-shadow: 3px 3px 2px #202020;
}

.photo {
   padding: 64px 0 0 0;
   border: 3px solid #fff;
   outline: 1px solid #000;
   margin: 1px;
   width: 600px;
   height: 0px;
   display: block;
}
