<style type="text/css">
	@media (max-width: 767px){
	.carousel .row .span3 {
	display: block;
	float: left;
	width: 25%;
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	.modal-dialog {width:600px;}
	.thumbnail {margin-bottom:6px;}
	}
	}
</style>

